<h2>Accenture Heroes</h2>
<div>
  <table item-width="100%" align="center" style="align-content: center">
    <thead>
      <tr>
      <th>
        Name
      </th>
      <th>
        Company
      </th>
      <th>
          Experiance
        </th>
    </tr>
    </thead> 
    <tbody>
    <tr *ngFor="let emp of employeess">
      <td>
          <a routerLink="/leave-complete-detail/{{emp._id}}"><span class="badge"></span> {{emp.name}}</a>
      </td>
      <td>
          {{emp.company}}
        </td>
        <td>
            {{emp.experiance}}
          </td>
    </tr>
  </tbody>
  </table>
<!--ul class="heroes">
<li *ngFor="let emp of employeess" (click)="onSelect(emp)" [class.selected]="emp === selectedEmployee">
        <a routerLink="/leave-complete-detail/{{emp._id}}"><span class="badge"></span> {{emp.name}}</a>
        <label> {{emp.company}} </label>
        <label> {{emp.experiance}} </label>
      </li>
</ul-->
    